
// REQUIRED PARAMETERS

// Directory of LariatMapper pipeline
params.pipeline_dir = '/users/jbuerer/larmap_nf_test/LariatMapper-NF'
// Read 1 input FASTQ file when processing paired-end RNA-seq data
params.read_one = '/users/jbuerer/larmap_nf_test/test/demo_reads_R1.fastq.gz'
// Read 2 input FASTQ file when processing paired-end RNA-seq data
params.read_two = '/users/jbuerer/larmap_nf_test/test/demo_reads_R2.fastq.gz'
// Directory with reference files created by build_references.py
params.ref_dir = '/users/jbuerer/scratch/genomes/lariat_references/human_hg38_gencode_basic_v46'
// Directory for output files. Will be created if it does not exist at runtime
params.output_dir = '/users/jbuerer/larmap_nf_test/test'

// Sets the available CPUs, memory and execution environment of the pipeline
process.cpus = 4
process.memory = 8.GB
process.executor = 'local'
process.conda = '/users/jbuerer/miniforge3/envs/larmap_env'
conda.enabled = true

// OPTIONAL PARAMETERS

// Add a prefix to output file names
params.output_prefix = 'test'
// Add an output file named "lariat_reads.bed" which can be used as a custom track in the UCSC Genome Browser 
params.ucsc_track = false
// Keep a file with per-read classification named "read_classes.tsv.gz" in the output (Default = delete)
params.keep_classes = false
// Keep all temporary files created while running the pipeline. Forces keep_classes (Default = delete)
params.keep_temp = false
// Don't check if LariatMapper is up-to-date with the main branch on GitHub
params.skip_version_check = true
// Only print fatal error messages (sets logging level to ERROR, Default = INFO). Mutually exclusive with warning and debug
params.quiet = false
// Print warning messages and fatal error messages (sets logging level to WARNING, Default = INFO). Mutually exclusive with quiet and debug     
params.warning = false
// Print extensive status messages (sets logging level to DEBUG, Default = INFO). Mutually exclusive with quiet and warning
params.debug = false
// Strandedness of the input reads. Choices: 
// 'Unstranded' = Library preparation wasn't strand-specific
// 'First' = READ_ONE/READ_FILE reads match the RNA sequence (i.e. 2nd cDNA synthesis strand)
// 'Second' = READ_ONE/READ_FILE reads are reverse-complementary to the RNA sequence (i.e. 1st cDNA synthesis strand) (Default = Unstranded)
params.strand = 'Unstranded'
// hisat2 index of the reference genome (Default = REF_DIR/hisat2_index)
params.ref_h2index = false
// FASTA file of the reference genome (Default = REF_DIR/genome.fa)       
params.ref_fasta = false
// FASTA file with sequences of first 20nt of annotated introns (Default = REF_DIR/fivep_sites.fa)
params.ref_5p_fasta = false
// TSV file of all annotated introns (Default = REF_DIR/introns.tsv.gz)
params.ref_introns = false
// BED file of repetitive regions in the genome. Putative lariats that map to a repetitive region will be filtered out as false positives (Default = REF_DIR/repeatmasker.bed if it's an existing file, otherwise skip repetitive region filtering
params.ref_repeatmasker = false

// Directs nextflow to print the logging information that each script sends to stdout
process.debug = true
