bedtools
bioconductor-biostrings
bioconductor-genomicalignments
bioconductor-genomicfeatures
bioconductor-genomicranges
bioconductor-rtracklayer
bioconductor-txdbmaker         # Required by GenomicFeatures makeTxDbFromGRanges function
bowtie2
fsspec
hisat2
intervaltree
numpy
pandas
pyarrow
pyfaidx
pysam
python>=3.9, <=3.11
r-base
r-bedtoolsr
r-ggplot2
r-gt
r-magrittr
r-optparse
r-tidyverse
samtools