bedtools
bioconductor-genomicalignments
bioconductor-genomicfeatures
bioconductor-rtracklayer
bowtie2
fsspec
hisat2
intervaltree
git
numpy
pandas
pyarrow
pyfaidx
pysam
python>=3.9, <=3.11
r-base
r-optparse
r-tidyverse
samtools